@charset "UTF-8"; 
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700&display=swap');



body { font-family:Verdana, Geneva, Tahoma, sans-serif}
.inner { 
  position: relative; 
  width:1180px; 
  margin:auto; }

header { 
  position:fixed; top:0; width:100%;
  height:100px; 
  background:#343436; 
  z-index:100;
}

header ul:after  { display:block; content: ""; clear:both; }


header h1 { position:absolute; top:25px; left:0;}
header h1 a {  
  display:block;
  width:118px; height:44px;
  background:url('../img/logo_white_type_02.png');
  font-size:0;
}
#gnb {
  
  padding-left:250px; }            /*수정*/

#gnb > ul  {
              position: relative;}      /*수정*/
#gnb > ul > li  { float:left; margin:0 15px; }  /*수정*/
#gnb > ul > li > a { 
  
  display:block; 
  color:#fff; 
  /* font-family: 'Barlow Condensed', sans-serif; 
  line-height:100px; 
  font-size:20px;
  font-weight:500; */
  font: 500 20px / 100px 'Barlow Condensed', sans-serif ;
  letter-spacing:1px;  
}
/* #gnb > ul > li > a::after {
  position: absolute;
  content:"";
  background:red;
  width:0;
  height:3px;
  top: 70px;
  left: 0;
  transition: 0.3s;} 
#gnb > ul > li:hover > a:after {
  width: 100%;}
  #gnb > ul > li:hover .sub {
  display:block;}
*/

.bar {
  position: absolute;
  top: 70px;
  left: 0;  
  height: 3px;
  background:red;
  transition: 0.5s ease-out;
}



/*네비-서브메뉴*/
.sub {
  display:none;
  position:absolute;
  background:rgba(0,0,0,.6);
  padding:15px 20px;                     /*수정*/
  margin-left: -10px;
}
.sub >li {
  margin:15px 0;
}
.sub > li > a {
  font-size: 15px;
  color:white;
  white-space: nowrap;
}



.global-menu { position:absolute; top:45px; right:0; }
.global-menu li { float:left; padding-left:20px }
.global-menu a { display:block; color:#999; font-size:13px; }
.join {}
.join a { background:#666; color:#fff; padding:10px 20px; margin-top:-10px; }


#visual { width:100%; min-width:1180px; height:900px; overflow:hidden; margin-top:100px; }
#visual .slider { position: relative; left:50%; width:1920px; transform:translate(-50%) }


main { height:1000px}
section { }
.main-product { padding:150px 0; }
.main-product > .inner { height:620px; }
.product-image { width:310px;
                  padding-top: 90px; }
.product-link { position:absolute; top:0; right:0; width:480px; height:620px; 
                background:url('../img/20190108172841884005.jpg'); }

.product-text {
  position: absolute;
  top: 70px;
  left: 400px;
  width: 400px;
  
}
.en-name {
  font: 600 80px  'Barlow Condensed', sans-serif ;/*두께,글씨사이즈,라인하이트*/
  letter-spacing: 1.3px;
}
.ko-name {
  font-size: 25px;
  padding: 10px 0 40px;
}
.info {
  font-size: 15px;
  line-height: 1.5;
  color:#565454;
}



/*section*/
/*토마토배경 시작*/



.benefit-tomoto {
  width: 375px;
  height: 442px;
  background:url('../img/main_benefit_obj_01.jpg');
  margin-left:200px;
}
.benefit-contents {
  height: 520px;
  background:url('../img/main_benefit_visual.jpg');
  margin-top: -120px;
  padding-top: 90px;
}
.benefit {
  color:white;
  text-align: center;  
}
.benefit h3 {  
  font: 600 55px  'Barlow Condensed', sans-serif ;/*두께,글씨사이즈,라인하이트*/
  letter-spacing: 2px;   
}
.benefit .h3-info {
  display: block;
  margin-top: 10px;
  font-size: 20px; 
  opacity:0.7;
}

.benefit ul {
  margin-top: 65px;
  overflow: hidden;
}
.benefit li {
  display:block;
  float: left;
  width: 33.3%;  
  text-align: center;
}
.benefit a {  
  width: 141px;
  height: 181px;
  text-align: center;
  margin: 0 123px;
}
.benefit span {
  display: block;
  color:white;
}
.benefit .icon {}
.benefit .icon-name {
  margin-top: 35px;
  font: 600 40px  'Barlow Condensed', sans-serif ;/*두께,글씨사이즈,라인하이트*/
  }
.benefit .icon-info {
  font-size: 14px;
  opacity:0.7;
  line-height:1.5;
  margin-top:15px;
}

.rewarad {
  margin-top: 75px;
  padding-left: 350px;
}
.rewarad-title {
  position: absolute;
  top: 20px;
  left: 0;
  width: 280px;
  height: 260px;
  border: 5px solid #000;
}
.text-data {
  background: white;
  position: absolute;
  top:-5px;
  left:-5px;
  width:200px;
  height:220px;
}
.text-data h3 {
  font: 600 40px/0.7  'Barlow Condensed', sans-serif ;
  letter-spacing:3px;
}
.text-data span {
  display: block;
  margin-top:20px;
  font-size:55px;
}
.text-data  p {
  margin-top:28px;
}
.text-data .btn {
  margin-top:25px;
  width: 90px;
  height: 30px;
  background:#222222;
  color:white;
}
.rewarad ol {
  height: 300px; 
}
.rewarad ol li {  
  display:block;
  float:left;
  width:33.3%;
  padding:20px;
  margin-top: 18px;
}
.rewarad ol em {
  font-size: 16px;
    color: #96603d;
    opacity: 0.4;
}
.rewarad .rewarad-name {
    margin-top: 10px;
    color: #222;
    font-size: 17px;
    font-weight: 500;
}
.rewarad .rewarad-info {
  font-size: 14px;
  margin-top: 10px;
  color: #666;
}
.speed-big-menu {
  margin:80px auto ; 
  width: 1180px;
  height: 160px;
  overflow: hidden;
  
}
.speed-big-menu >li {
  display:block;
  float:left;
  
  width: 33.3%;
  height: 160px;
  text-align: center;
}
.speed-big-menu > .speed-big-menu1 {
  background-color: #907354;
}
.speed-big-menu > .speed-big-menu02{
  background-color:#434343;
}
.speed-big-menu > .speed-big-menu03 {
  background-color:#C30606;
}
.speed-big-menu >li > a {
  color:white;
  text-align: center;
  display:block;
  padding:50px;
  position:relative;
  
}
.speed-big-menu .menu-title {
  display:block;
  float: left;
  font: 600 25px/0.7  'Barlow Condensed', sans-serif ;
}
.speed-big-menu .menu-txt {
  position: absolute;
  top: 75px;
  left: 48px;  
  font-size: 14px;  
}
.speed-big-menu .menu-arrow {
  
  position: absolute;
  bottom: 37px;
  left: 49px;
  width: 40px;
  height: 4px;  
  border-bottom: 1px solid #fff; 
  transition: 0.5s;
}
.speed-big-menu .menu-arrow:hover {
  
}
/* .speed-big-menu .menu-icon  {
  transition: 0.5s;
}
.speed-big-menu .menu-icon:hover img {
  
  top: -2px;
} */
.footer-bottom-brand {
  border-top: 1px solid #d2cece;  
}
.footer-bottom-brand  .brand-list {
  width: 1200px;
  
  margin:0 auto;
}
.footer-bottom-brand  .brand-list >ul {
  display: block;
  overflow: hidden;
  margin-top: 14px;
}
.footer-bottom-brand  .brand-list > ul > li {
  display: block;
  float: left;
  width: 20%;
  text-align: center;
  padding:15px;
  border-right: 1px solid  #d2cece;
}



/*footer*/

footer {
  position: absolute;
  top: 3582px;
  width: 100%;
  
}
.footer-wrap { 
  position:relative;
  width:100%;
  margin: 0 auto;  
  background-color: #232323;
  height: 300px;
}
.footer-left-menu  {
  position:relative;
  max-width: 1200px;
  height: 300px;
  margin: 0 auto;
  
}
.footer-left-menu .ceo {
  position: absolute;
  width: 500px;
  left: 0;
  

}
.footer-left-menu .ceo p {
  color:#B5B5B5;
  position:absolute;    
  padding: 50px 0 50px 50px;  
  top:50px;
  font-size: 13px;
  line-height: 1.4;
}
.footer-btn{
  
  padding:50px 0 0 50px;
  
  }
  .footer-btn a {
  color:#B5B5B5;
  border: 1px solid #B5B5B5;
  padding:10px;
  margin-right: 10px;
  font-size: 13px;
  }
  
  
.footer-menu {
  border: 10px solid blue;
  position: absolute;
  float:right;
  
  right: 50px;
  top: 50px;

}
.footer-menu a {
  color:#B5B5B5;

}
.footer-menu li {
  
  display: block;
  

}
.footer-left-menu {
  display: flex;
  
}
.footer-left-menu >a {
  display: block;
  color:#B5B5B5;
}